<div class="content left-align">
    <div class="table">
        <div class="row">

            <div class="cell">
                <div class="menu">
                    <h4>Menu</h4>
                    <sly data-sly-resource="${'menu' @ resourceType='upshot/components/menu'}"></sly>
                </div>
            </div>

            <div class="cell max-width padding20">
                <div data-sly-resource="${ 'content-parsys' @ resourceType='foundation/components/parsys'}"></div>
            </div>

        </div>
    </div>
</div>