<footer id="footer" class="hoc clear">
    <div class="table">
        <div class="row">
            <div class="cell">
                <h4>Our Mission</h4>
                <p>Our mission is extreme bike ride.</p>
            </div>
            <div class="cell">
                <h4>Our contacts</h4>
                <ul class="left-align">
                    <li>
                        <address>
                            Street Name &amp; Number, Town, Postcode/Zip
                        </address>
                    </li>
                    <li>+00 (123) 456 7890</li>
                    <li>info@bikestore.com</li>
                </ul>
            </div>
        </div>
    </div>
</footer>