.grid {
    display: table;
    border: 1px solid #eee;
    width: 100%;
}

.grid .row {
    display: table-row;
}

.grid .row .cell {
    display: table-cell;
    border: 1px solid #eee;
    padding: 3px;
    margin: 0;
}