.table {
    display: table;
    border: 1px solid #eee;
    width: 100%;
}

.table .row {
    display: table-row;
}

.table .row .cell {
    display: table-cell;
    border: 1px solid #eee;
    padding: 3px;
    margin: 0;
}

.card-info {
    width:100%;
    vertical-align: top;
}