<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.css @ categories='upshot.components.textfinder'}" />
<sly data-sly-call="${clientlib.js @ categories='upshot.components.textfinder'}" />

<form method="#" align="left">
    <div>
        <input id="searchText" name="Search Text" type="text" value="">
        <input type="button" value="Submit"  name="textfinder-submit" id="textfinder-submit" value="Submit">
        <input hidden id="searchPath" type="text" value="${currentPage.path}">
        <input hidden id="queryEngine" type="text" value="${properties['queryEngine']}">
    </div>
    <div id="json">
    </div>
</form>