<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.css @ categories='upshot.components'}" />

<sly data-sly-use.gridInfo="edu.aem.training.upshot.models.GridModel">
    <div class="grid" data-sly-list.row="${gridInfo.rows}">
        <div class="row" data-sly-list.col="${gridInfo.cols}">
            <sly data-sly-test.parResource="${ 'par_r{0}c{1}' @ format=[row, col]}"/>
            <div class="cell" data-sly-resource="${ parResource @ resourceType='foundation/components/parsys'}"></div>
        </div>
    </div>
</sly>
